<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <urlCompression doDynamicCompression="true" />
        <rewrite>
            <rules>
                <clear />
                <!-- Handle /test and /test/ as root -->
                <rule name="test-root" stopProcessing="true">
                    <match url="^test/?$" />
                    <action type="Rewrite" url="/index.php" appendQueryString="true" />
                    <serverVariables>
                        <set name="HTTP_X_ORIGINAL_URI" value="/" />
                    </serverVariables>
                </rule>
                <!-- Handle /test/something by removing /test prefix -->
                <rule name="test-subpaths" stopProcessing="true">
                    <match url="^test/(.+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php" appendQueryString="true" />
                    <serverVariables>
                        <set name="HTTP_X_ORIGINAL_URI" value="/{R:1}" />
                    </serverVariables>
                </rule>
                <!-- Default routing for all other URLs -->
                <rule name="routing" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?url={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000">
                    <headerLimits>
                    </headerLimits>
                </requestLimits>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>
    </system.webServer>
</configuration>
