<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <urlCompression doDynamicCompression="true" />
        <rewrite>
            <rules>
                <clear />
                <rule name="routing" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?url={R:1}"  appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000">
                    <headerLimits>
                    </headerLimits>
                </requestLimits>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>
    </system.webServer>
</configuration>
