#admin-registrations {
  margin-top: 100px !important;
  width: 100%;
}

#registrations-table {
  box-shadow: var(--shadow);
  padding: 2rem;
  border-radius: 12px;
}

@media(min-width: 768px) {
  #admin-registrations {
    width: 80%;
    margin: 0 auto;
  }
}