#cookie-consent.zone-hidden {
    visibility: hidden;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    
}
.cookie-banner_wrapper {
    transition: all .4s ease-in-out;
    position: fixed;
    padding: 8px 21px;
    margin: 0;
    border-radius: 5px;
    z-index: 200;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
}

.cookie-banner_wrapper:hover {
    border: 1px solid var(--pr-color);
}

.cookie-banner_control {
    width: 80%;
    padding: 8px 21px;
    margin: 20px auto;
    border-radius: 5px;
    z-index: 10000;
    text-align: center;
    color: white;
}






.cookie-banner_wrapper p {
    bottom: 30px;
    font-size: .9rem;
    margin: 0;
    font-weight: bold;
}

.cookie-banner_wrapper a {
    border-bottom: dotted thin #eee;
    text-decoration: none;
}

.cookie-banner_wrapper a:hover {
    text-decoration: none;
    border-bottom-style: solid;
}


a#fom, a#pea_close {
    border-bottom: 1px dotted;
}

a#pea_close {
    padding-top: 20px;
    display: block;
}


button.cookie-banner_btn {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: inset 0 0 1px 1px #ffffff;
    
    color: #333;
    font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
    line-height: 1;
    padding: 15px 0;
    width: 100px;
    margin: .5rem
}


button.cookie-banner_btn:hover {
    background: var(--sc-color);
    -webkit-box-shadow: inset 0 0 1px 1px var(--sc-color);
    -moz-box-shadow: inset 0 0 1px 1px var(--sc-color);
    box-shadow: inset 0 0 1px 1px var(--sc-color);
    color: #222;
    cursor: pointer;
    border: none;
    color: #ffffff;
}

button.cookie-banner_btn:active {
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
}


.cookie-banner_more_info_popover {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1000000;
    height: 80%;
    width: 100%;
    left: 0;
}

.cookie-banner_more_info_popover_inner {
    margin: 40px auto;
    min-width: 50%;
    min-height: 200px;
    padding: 50px;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.75);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)";
}

.cookie-banner_more_info_popover_inner a {
    border-bottom: dotted thin #eee;
    text-decoration: none;
}

.cookie-banner_more_info_popover_inner a:hover {
    text-decoration: none;
    border-bottom-style: solid;
    color: #ddd;
}

.cookie-banner_more_info_popover h2 {
    font-size: 22px;
    font-weight: bold;
}

.cookie-banner_more_info_popover h3 {
    font-size: 22px;
    font-weight: bold;
}

.eucookie {
    float: left;
    border-radius: 5px;
    transition: background 0.5s;
}

.eucookie:hover {
    cursor: pointer;
    background-position: -20px -10px !important;
    transition: background 0.5s;
}

.eucookie span {
    width: 100%;
    padding: 10px;
    float: left;
}