.line {
  width: 50%;
  margin: 0 auto
}

@media(max-width: 768px) {
  #secondary-header-nav {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  #secondary-header-list .nav-link {
    width: 100% !important;
  }

}

@media(min-width: 1024px) {
  #secondary-header-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}



#secondary-header-nav #secondary-header-list .nav-link {
  width: 50%;
  margin: 0 auto;
  color: var(--pr-color);
  border: 1px solid var(--pr-color);
  border-radius: 7px;
  margin: 0 auto;
  transition: all .4s ease-in-out;
  list-style-type: none;
  text-decoration: none;
}

#secondary-header-nav #secondary-header-list .nav-link:hover {
  color: white;
  background-color: var(--pr-color);
}

.registration-button {
  background-color: var(--sc-color);
  border: none;
  margin-top: 2rem;
  text-align: center;
}

#header-image {
  background: url("/public/assets/images/header_image.jpg") center center/cover;
}





/* ABOUT ME SECTION */

#about-me-image {
  background: url("/public/assets/images/art_2.jpg") center center/cover;
  width: 100%;
}

@media(min-width: 1024px) {
  #about-me-dc {
    width: 80%;
    margin: 0 auto;
  }
}


#volunteers #volunteers-image {
  background: url("/public/assets/images/team.jpg") center center/cover;
}

.volunteer-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.volunteer-card {
  border: none;
}
