.navbar #user-registration-button {
  background-color: var(--sc-color);
  border: none;
}

.navbar #user-registration-button:hover {
  background-color: var(--sc-color-hover);
}

.navbar .navigation-link {
  color: var(--pr-color);
  padding: .5rem 1rem;
  border-radius: 7px;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.navbar .navigation-link.active {
  color: white;
  background-color: var(--pr-color);
}

.navbar .navigation-link:hover {
  color: white;
  background-color: var(--pr-color);
}


@media(max-width: 768px) {
  .navbar #user-registration-button {
    background-color: var(--sc-color);
    border: none;
    margin-top: 2rem;
    text-align: center;
  }
}

#navbar-dropdown:focus {
  box-shadow: none !important;
}



#language-dropdown {
  padding: .20rem 1rem;
}

#user-login-button {
  background-color: var(--pr-color);
  border: none;
  margin-top: 2rem;
  text-align: center;
}

#user-login-button:hover {
  background-color: var(--pr-color-hover);

}