#dashboard {
  min-height: 100vh;
}

#dashboard #dashboard-header{
  background-color: var(--pr-color);
  min-height: 400px;
}
@media(max-width: 1024px) {
  #dashboard {
    margin-top: 80px;
  }
}
@media(min-width: 1280px) {
  #profile-settings {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
  }
}

#event-btn {
  background-color: var(--pr-color);
}

#subscriptions {
  background-color: var(--sc-color);
}