

#dashboard #dashboard-header{
  background-color: var(--pr-color);
  min-height: 40vh;
}


#event-btn {
  background-color: var(--pr-color);
}

#subscriptions {
  background-color: var(--sc-color);
  min-height: 50vh;
}