#login {
  width: 95%;
  margin: 0 auto;
}

@media(min-width: 768px) {
  #login {
    width: 50%;
  }
}

@media(min-width: 1200px) {
  #login {
    width: 35%;
  }
}

#login-logo {
  height: 370px;
  width: 370px;
  border-radius: 100%;
}



@media(max-width: 1200px) {
  #login-col {
    display: none !important;
  }
}